$__petals--checkbox-border-width: --petals-checkbox-border-width;
$__petals--checkbox-border-color: --petals-checkbox-border-color;
$__petals--checkbox-border-radius: --petals-checkbox-border-radius;

$__petals--checkbox-hover-border-color: --petals-checkbox-hover-border-color;

$__petals--checkbox-checked-bg: --petals-checkbox-checked-bg;
$__petals--checkbox-checked-border-color: --petals-checkbox-checked-border-color;

$__petals--checkbox-disabled-bg: --petals-checkbox-disabled-bg;
$__petals--checkbox-disabled-border-color: --petals-checkbox-disabled-border-color;

$__petals--checkbox-icon-checked-color: --petals-checkbox-icon-checked-color;
$__petals--checkbox-icon-disabled-color: --petals-checkbox-icon-disabled-color;
