@import '../../border/style/variables';

@import './properties';

$petals--checkbox-border-width: var($__petals--border-width, $petals--border-width) !default;
$petals--checkbox-border-color: var($__petals--border-color, $petals--border-color) !default;
$petals--checkbox-border-radius: var($__petals--border-radius-sm, $petals--border-radius-sm) !default;

$petals--checkbox-hover-border-color: var(
  $__petals--form-control-hover-border-color,
  $petals--form-control-hover-border-color
) !default;

$petals--checkbox-checked-bg: var($__petals--primary, $petals--primary) !default;
$petals--checkbox-checked-border-color: var($__petals--primary, $petals--primary) !default;

$petals--checkbox-disabled-bg: var($__petals--disabled-bg, $petals--disabled-bg) !default;
$petals--checkbox-disabled-border-color: var($__petals--disabled-border-color, $petals--disabled-border-color) !default;

$petals--checkbox-icon-checked-color: $__petals--white !default;
$petals--checkbox-icon-disabled-color: var($__petals--disabled-color, $petals--disabled-color) !default;
