/* !!! Only for internal use! */

$__petals--white: #fff;
$__petals--black: #000;
$__petals--transparent: transparent;
$__petals--current: currentColor;

/* Styles */

$petals--optimize-legibility: false !default;

/* Components */

$petals--component-prefix: "" !default;
