$__petals--link-color: --petals-link-color;
$__petals--link-decoration: --petals-link-decoration;
$__petals--link-bg: --petals-link-bg;

$__petals--link-visited-color: --petals-link-visited-color;
$__petals--link-visited-decoration: --petals-link-visited-decoration;
$__petals--link-visited-bg: --petals-link-visited-bg;

$__petals--link-hover-color: --petals-link-hover-color;
$__petals--link-hover-decoration: --petals-link-hover-decoration;
$__petals--link-hover-bg: --petals-link-hover-bg;

$__petals--link-active-color: --petals-link-active-color;
$__petals--link-active-decoration: --petals-link-active-decoration;
$__petals--link-active-bg: --petals-link-active-bg;
