@import "./metadata";
@import "./properties";

$petals--link-color: var($__petals--primary, $petals--primary) !default;
$petals--link-decoration: none !default;
$petals--link-bg: $__petals--transparent !default;

$petals--link-visited-color: var($__petals--link-color, $petals--link-color) !default;
$petals--link-visited-decoration: var($__petals--link-decoration, $petals--link-decoration) !default;
$petals--link-visited-bg: var($__petals--link-bg, $petals--link-bg) !default;

$petals--link-hover-color: var($__petals--primary-hover, $petals--primary-hover) !default;
$petals--link-hover-decoration: underline !default;
$petals--link-hover-bg: var($__petals--link-bg, $petals--link-bg) !default;

$petals--link-active-color: var($__petals--primary-active, $petals--primary-active) !default;
$petals--link-active-decoration: var($__petals--link-hover-decoration, $petals--link-hover-decoration) !default;
$petals--link-active-bg: var($__petals--link-hover-bg, $petals--link-hover-bg) !default;
