$__petals--hover-bg: --petals-hover-bg;

$__petals--active-border-color: --petals-active-border-color;
$__petals--active-color: --petals-active-color;
$__petals--active-bg: --petals-active-bg;

$__petals--disabled-border-color: --petals-disabled-border-color;
$__petals--disabled-color: --petals-disabled-color;
$__petals--disabled-bg: --petals-disabled-bg;
$__petals--disabled-opacity: --petals-disabled-opacity;
