$__petals--border-width: ---petals-border-width;
$__petals--border-color: ---petals-border-color;

$__petals--border-radius: ---petals-border-radius;
$__petals--border-radius-lg: ---petals-border-radius-lg;
$__petals--border-radius-sm: ---petals-border-radius-sm;
