@import './properties';

$petals--border-width: 1px !default;
$petals--border-color: #dcdfe6 !default;

$petals--border-radius: 4px !default;
$petals--border-radius-lg: 0.3rem !default;
$petals--border-radius-sm: 2px !default;

$petals--rounded-pill: 50rem !default;
