$__petals--scrollbar-width: --petals-scrollbar-width;
$__petals--scrollbar-height: --petals-scrollbar-height;
$__petals--scrollbar-border-radius: --petals-scrollbar-border-radius;
$__petals--scrollbar-bg: --petals-scrollbar-bg;

$__petals--scrollbar-thumb-bg: --petals-scrollbar-thumb-bg;
