@import '../../border/style/variables';

@import './properties';

$petals--scrollbar-width: 5px !default;
$petals--scrollbar-height: $petals--scrollbar-width !default;
$petals--scrollbar-border-radius: $petals--border-radius !default;
$petals--scrollbar-bg: rgba(0, 0, 0, 0.15) !default;

$petals--scrollbar-thumb-bg: rgba(0, 0, 0, 0.45) !default;
