$__petals--popover-border-width: --petals-popover-border-width;
$__petals--popover-border-color: --petals-popover-border-color;
$__petals--popover-border-radius: --petals-popover-border-radius;
$__petals--popover-box-shadow: --petals-popover-box-shadow;
