$__petals--text-primary: --petals-text-primary;
$__petals--text-secondary: --petals-text-secondary;
$__petals--text-regular: --petals-text-regular;
$__petals--text-heading: --petals-text-heading;
$__petals--text-placeholder: --petals-text-placeholder;
