$__petals--primary: --petals-primary;
$__petals--primary-hover: --petals-primary-hover;
$__petals--primary-active: --petals-primary-active;

$__petals--secondary: --petals-secondary;
$__petals--secondary-hover: --petals-secondary-hover;
$__petals--secondary-active: --petals-secondary-active;

$__petals--info: --petals-info;
$__petals--info-hover: --petals-info-hover;
$__petals--info-active: --petals-info-active;

$__petals--success: --petals-success;
$__petals--success-hover: --petals-success-hover;
$__petals--success-active: --petals-success-active;

$__petals--warning: --petals-warning;
$__petals--warning-hover: --petals-warning-hover;
$__petals--warning-active: --petals-warning-active;

$__petals--danger: --petals-danger;
$__petals--danger-hover: --petals-danger-hover;
$__petals--danger-active: --petals-danger-active;
