$__petals--dropdown-padding-y: --petals-dropdown-padding-y;
$__petals--dropdown-font-size: --petals-dropdown-font-size;
$__petals--dropdown-border-radius: --petals-dropdown-border-radius;
$__petals--dropdown-box-shadow: --petals-dropdown-box-shadow;

$__petals--dropdown-item-height: --petals-dropdown-item-height;
$__petals--dropdown-item-color: --petals-dropdown-item-color;
$__petals--dropdown-item-hover-color: --petals-dropdown-item-hover-color;
$__petals--dropdown-item-hover-bg: --petals-dropdown-item-hover-bg;
