$__petals--tab-bar-bg: --petals-tab-bar-bg;

$__petals--tab-bar-nav-height: --petals-tab-bar-nav-height;
$__petals--tab-bar-nav-padding-x: --petals-tab-bar-nav-padding-x;
$__petals--tab-bar-nav-padding-y: --petals-tab-bar-nav-padding-y;
$__petals--tab-bar-nav-color: --petals-tab-bar-nav-color;
$__petals--tab-bar-nav-border-width: --petals-tab-bar-nav-border-width;
$__petals--tab-bar-nav-border-color: --petals-tab-bar-nav-border-color;
$__petals--tab-bar-nav-border-radius: --petals-tab-bar-nav-border-radius;

$__petals--tab-bar-nav-hover-color: --petals-tab-bar-nav-hover-color;

$__petals--tab-bar-nav-active-color: --petals-tab-bar-nav-active-color;
$__petals--tab-bar-nav-active-bg: --petals-tab-bar-nav-active-bg;
$__petals--tab-bar-nav-active-border-width: --petals-tab-bar-nav-active-border-width;
$__petals--tab-bar-nav-active-border-color: --petals-tab-bar-nav-active-border-color;
$__petals--tab-bar-nav-active-box-shadow: --petals-tab-bar-nav-active-box-shadow;

$__petals--tab-bar-nav-separator-width: --petals-tab-bar-nav-separator-width;
$__petals--tab-bar-nav-separator-height: --petals-tab-bar-nav-separator-height;
$__petals--tab-bar-nav-separator-bg: --petals-tab-bar-nav-separator-bg;

$__petals--tab-bar-scroll-button-width: --petals-tab-bar-scroll-button-width;
$__petals--tab-bar-scroll-button-color: --petals-tab-bar-scroll-button-color;
$__petals--tab-bar-scroll-button-disabled-color: --petals-tab-bar-scroll-button-disabled-color;
