$__petals--form-control-height: --petals-form-control-height !default;
$__petals--form-control-height-lg: --petals-form-control-height-lg !default;
$__petals--form-control-height-sm: --petals-form-control-height-sm !default;

$__petals--form-control-padding-y: --petals-form-control-padding-y;
$__petals--form-control-padding-x: --petals-form-control-padding-x;
$__petals--form-control-padding-y-sm: --petals-form-control-padding-y-sm;
$__petals--form-control-padding-x-sm: --petals-form-control-padding-x-sm;
$__petals--form-control-padding-y-lg: --petals-form-control-padding-y-lg;
$__petals--form-control-padding-x-lg: --petals-form-control-padding-x-lg;

$__petals--form-control-font-family: --petals-form-control-font-family;
$__petals--form-control-font-size: --petals-form-control-font-size;
$__petals--form-control-font-size-lg: --petals-form-control-font-size-lg;
$__petals--form-control-font-size-sm: --petals-form-control-font-size-sm;
$__petals--form-control-line-height: --petals-form-control-line-height;
$__petals--form-control-color: --petals-form-control-color;
$__petals--form-control-bg: --petals-form-control-bg;
$__petals--form-control-box-shadow: --petals-form-control-box-shadow;

$__petals--form-control-placeholder-color: --petals-form-control-placeholder-color;

$__petals--form-control-border-width: --petals-form-control-border-width;
$__petals--form-control-border-color: --petals-form-control-border-color;
$__petals--form-control-border-radius: --petals-form-control-border-radius;
$__petals--form-control-border-radius-lg: --petals-form-control-border-radius-lg;
$__petals--form-control-border-radius-sm: --petals-form-control-border-radius-sm;

$__petals--form-control-disabled-border-color: --petals-form-control-disabled-border-color;
$__petals--form-control-disabled-bg: --petals-form-control-disabled-bg;

$__petals--form-control-hover-border-color: --petals-form-control-hover-border-color;

$__petals--form-control-focus-width: --petals-form-control-focus-width;
$__petals--form-control-focus-border-color: --petals-form-control-focus-border-color;
$__petals--form-control-focus-bg: --petals-form-control-focus-bg;
$__petals--form-control-focus-box-shadow: --petals-form-control-focus-box-shadow;
