@import "../../border/style/variables";
@import "../../theme/style/variables";
@import "./properties";

$petals--form-control-height: var($__petals--form-control-height, 36px) !default;
$petals--form-control-height-lg: var($__petals--form-control-height-lg, 40px) !default;
$petals--form-control-height-sm: var($__petals--form-control-height-sm, 32px) !default;

$petals--form-control-padding-y: 10px !default;
$petals--form-control-padding-x: 20px !default;

$petals--form-control-padding-y-sm: 9px !default;
$petals--form-control-padding-x-sm: 15px !default;

$petals--form-control-padding-y-lg: 12px !default;
$petals--form-control-padding-x-lg: 20px !default;

$petals--form-control-font-family: var($__petals--font-family, $petals--font-family) !default;
$petals--form-control-font-size: var($__petals--font-size, $petals--font-size) !default;
$petals--form-control-font-size-lg: var($__petals--font-size-lg, $petals--font-size-lg) !default;
$petals--form-control-font-size-sm: var($__petals--font-size-sm, $petals--font-size-sm) !default;
$petals--form-control-line-height: var($__petals--line-height, $petals--line-height) !default;

$petals--form-control-color: var($__petals--text-regular, $petals--text-regular) !default;
$petals--form-control-bg: $__petals--white !default;
$petals--form-control-box-shadow: none !default;

$petals--form-control-placeholder-color: var($__petals--text-placeholder, $petals--text-placeholder) !default;

$petals--form-control-border-width: var($__petals--border-width, $petals--border-width) !default;
$petals--form-control-border-color: var($__petals--border-color, $petals--border-color) !default;
$petals--form-control-border-radius: var($__petals--border-radius, $petals--border-radius) !default;
$petals--form-control-border-radius-lg: var($__petals--border-radius-lg, $petals--border-radius-lg) !default;
$petals--form-control-border-radius-sm: var($__petals--border-radius-sm, $petals--border-radius-sm) !default;

$petals--form-control-disabled-border-color: var(
  $__petals--disabled-border-color,
  $petals--disabled-border-color
) !default;
$petals--form-control-disabled-bg: var($__petals--disabled-bg, $petals--disabled-bg) !default;

$petals--form-control-hover-border-color: var($__petals--primary-hover, $petals--primary-hover) !default;

$petals--form-control-focus-border-color: var($__petals--primary, $petals--primary) !default;
$petals--form-control-focus-bg: var($__petals--form-control-bg, $petals--form-control-bg) !default;
$petals--form-control-focus-box-shadow: none !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$petals--input-` and `$petals--button-` specific variables.

$petals--form-control-focus-width: 0.2rem !default;
$petals--form-control-focus-color: rgba($petals--active-bg, 0.25) !default;
