$__petals--input-font-size: --petals-input-font-size;
$__petals--input-font-size-lg: --petals-input-font-size-lg;
$__petals--input-font-size-sm: --petals-input-font-size-sm;

$__petals--input-border-width: --petals-input-border-width;
$__petals--input-border-color: --petals-input-border-color;
$__petals--input-box-shadow: --petals-input-box-shadow;

$__petals--input-border-radius: --petals-input-border-radius;
$__petals--input-border-radius-lg: --petals-input-border-radius-lg;
$__petals--input-border-radius-sm: --petals-input-border-radius-sm;

$__petals--input-hover-border-color: --petals-input-hover-border-color;

$__petals--input-focus-border-color: --petals-input-focus-border-color;
$__petals--input-focus-box-shadow: --petals-input-focus-box-shadow;

$__petals--input-disabled-bg: --petals-input-disabled-bg;
$__petals--input-disabled-border-color: --petals-input-disabled-border-color;
