// Badges

$petals--badge-component-name: 'Badge' !default;

$petals--badge-font-size: 12px !default;
$petals--badge-font-weight: $petals--font-weight-bold !default;
$petals--badge-color: $__petals--white !default;
$petals--badge-padding-y: 6px !default;
$petals--badge-padding-x: 6px !default;
$petals--badge-border-radius: 10px !default;
