$__petals--popup-font-size: --petals-popup-font-size;
$__petals--popup-color: --petals-popup-color;
$__petals--popup-border-width: --petals-popup-border-width;
$__petals--popup-border-color: --petals-popup-border-color;
$__petals--popup-border-radius: --petals-popup-border-radius;
$__petals--popup-box-shadow: --petals-popup-box-shadow;
$__petals--popup-padding-y: --petals-popup-padding-y;

$__petals--popup-item-height: --petals-popup-item-height;
$__petals--popup-item-padding-y: --petals-popup-item-padding-y;
$__petals--popup-item-padding-x: --petals-popup-item-padding-x;
$__petals--popup-item-color: --petals-popup-item-color;
$__petals--popup-item-bg: --petals-popup-item-bg;
$__petals--popup-item-hover-color: --petals-popup-item-hover-color;
$__petals--popup-item-hover-bg: --petals-popup-item-hover-bg;

$__petals--popup-backdrop-bg: --petals-popup-backdrop-bg;
$__petals--popup-backdrop-opacity: --petals-popup-backdrop-opacity;
