@import '../../border/style/variables';
@import '../../box-shadow/style/variables';
@import '../../state/style/variables';

@import './properties';

$petals--popup-font-size: var($__petals--font-size, $petals--font-size) !default;
$petals--popup-color: var($__petals--text-regular, $petals--text-regular) !default;
$petals--popup-border-width: var($__petals--border-width, $petals--border-width) !default;
$petals--popup-border-color: var($__petals--border-color, $petals--border-color) !default;
$petals--popup-border-radius: var($__petals--border-radius, $petals--border-radius) !default;
$petals--popup-box-shadow: var($__petals--box-shadow, $petals--box-shadow) !default;
$petals--popup-padding-y: 10px !default;

$petals--popup-item-height: 30px !default;
$petals--popup-item-padding-y: 0 !default;
$petals--popup-item-padding-x: 12px !default;
$petals--popup-item-color: var($__petals--popup-color, $petals--popup-color) !default;
$petals--popup-item-bg: transparent !default;
$petals--popup-item-hover-color: var($__petals--popup-item-color, $petals--popup-item-color) !default;
$petals--popup-item-hover-bg: var($__petals--hover-bg, $petals--hover-bg) !default;

$petals--popup-backdrop-bg: $__petals--black !default;
$petals--popup-backdrop-opacity: 0.5 !default;
