$__petals--textarea-border-width: --petals-textarea-border-width;
$__petals--textarea-border-color: --petals-textarea-border-color;
$__petals--textarea-box-shadow: --petals-textarea-box-shadow;

$__petals--textarea-border-radius: --petals-textarea-border-radius;
$__petals--textarea-border-radius-lg: --petals-textarea-border-radius-lg;
$__petals--textarea-border-radius-sm: --petals-textarea-border-radius-sm;

$__petals--textarea-hover-border-color: --petals-textarea-hover-border-color;

$__petals--textarea-focus-border-color: --petals-textarea-focus-border-color;
$__petals--textarea-focus-box-shadow: --petals-textarea-focus-box-shadow;

$__petals--textarea-disabled-bg: --petals-textarea-disabled-bg;
$__petals--textarea-disabled-border-color: --petals-textarea-disabled-border-color;
