$petals--button-danger-light: #ff4d4f !default;
$petals--button-danger-dark: #cf1322 !default;

$petals--button-danger-color: var($__petals--danger-color, $petals--danger-color) !default;
$petals--button-danger-border-color: var($__petals--danger-border-color, $petals--danger-border-color) !default;
$petals--button-danger-bg: var($__petals--danger-bg, $petals--danger-bg) !default;
$petals--button-danger-bg-image: var($__petals--danger-bg-image, $petals--danger-bg-image) !default;
$petals--button-danger-box-shadow: var($__petals--button-box-shadow, $petals--button-box-shadow) !default;

$petals--button-danger-hover-color: var($__petals--danger-hover-color, $petals--danger-hover-color) !default;
$petals--button-danger-hover-border-color: var(
  $__petals--danger-hover-border-color,
  $petals--danger-hover-border-color
) !default;
$petals--button-danger-hover-bg: var($__petals--danger-hover-bg, $petals--danger-hover-bg) !default;
$petals--button-danger-hover-bg-image: var($__petals--danger-hover-bg-image, $petals--danger-hover-bg-image) !default;

$petals--button-danger-focus-color: var($__petals--danger-active-color, $petals--danger-active-color) !default;
$petals--button-danger-focus-border-color: var(
  $__petals--danger-active-border-color,
  $petals--danger-active-border-color
) !default;
$petals--button-danger-focus-bg: var($__petals--danger-active-bg, $petals--danger-active-bg) !default;
$petals--button-danger-focus-bg-image: var($__petals--danger-active-bg-image, $petals--danger-active-bg-image) !default;

$petals--button-danger-disabled-color: var($__petals--danger-disabled-color, $petals--danger-disabled-color) !default;
$petals--button-danger-disabled-border-color: var(
  $__petals--danger-disabled-border-color,
  $petals--danger-disabled-border-color
) !default;
$petals--button-danger-disabled-bg: var($__petals--danger-disabled-bg, $petals--danger-disabled-bg) !default;
$petals--button-danger-disabled-bg-image: var(
  $__petals--danger-disabled-bg-image,
  $petals--danger-disabled-bg-image
) !default;
$petals--button-danger-disabled-opacity: var(
  $__petals--danger-disabled-opacity,
  $petals--danger-disabled-opacity
) !default;

$petals--button-danger-outlined-color: var($__petals--button-danger-color, $petals--button-danger-color) !default;
$petals--button-danger-outlined-border-color: $__petals--current !default;
$petals--button-danger-outlined-hover-color: var($__petals--button-danger-hover-color, $petals--button-danger-hover-color) !default;
$petals--button-danger-outlined-hover-border-color: $__petals--current !default;
$petals--button-danger-outlined-focus-color: var($__petals--button-danger-focus-color, $petals--button-danger-focus-color) !default;
$petals--button-danger-outlined-focus-border-color: $__petals--current !default;
