$petals--button-primary-light: #63a4ff !default;
$petals--button-primary-dark: #2560cf !default;

$petals--button-primary-color: var($__petals--primary-color, $petals--primary-color) !default;
$petals--button-primary-border-color: var($__petals--primary-border-color, $petals--primary-border-color) !default;
$petals--button-primary-bg: var($__petals--primary-bg, $petals--primary-bg) !default;
$petals--button-primary-bg-image: var($__petals--primary-bg-image, $petals--primary-bg-image) !default;
$petals--button-primary-box-shadow: 0 1px 4px 0 rgba(56, 130, 245, 0.2) !default;

$petals--button-primary-hover-color: var($__petals--primary-hover-color, $petals--primary-hover-color) !default;
$petals--button-primary-hover-border-color: var(
  $__petals--primary-hover-border-color,
  $petals--primary-hover-border-color
) !default;
$petals--button-primary-hover-bg: var($__petals--primary-hover-bg, $petals--primary-hover-bg) !default;
$petals--button-primary-hover-bg-image: var(
  $__petals--primary-hover-bg-image,
  $petals--primary-hover-bg-image
) !default;

$petals--button-primary-focus-color: var($__petals--primary-active-color, $petals--primary-active-color) !default;
$petals--button-primary-focus-border-color: var(
  $__petals--primary-active-border-color,
  $petals--primary-active-border-color
) !default;
$petals--button-primary-focus-bg: var($__petals--primary-active-bg, $petals--primary-active-bg) !default;
$petals--button-primary-focus-bg-image: var(
  $__petals--primary-active-bg-image,
  $petals--primary-active-bg-image
) !default;

$petals--button-primary-disabled-color: var(
  $__petals--primary-disabled-color,
  $petals--primary-disabled-color
) !default;
$petals--button-primary-disabled-border-color: var(
  $__petals--primary-disabled-border-color,
  $petals--primary-disabled-border-color
) !default;
$petals--button-primary-disabled-bg: var($__petals--primary-disabled-bg, $petals--primary-disabled-bg) !default;
$petals--button-primary-disabled-bg-image: var(
  $__petals--primary-disabled-bg-image,
  $petals--primary-disabled-bg-image
) !default;
$petals--button-primary-disabled-opacity: var(
  $__petals--primary-disabled-opacity,
  $petals--primary-disabled-opacity
) !default;

$petals--button-primary-outlined-color: var($__petals--button-primary-color, $petals--button-primary-color) !default;
$petals--button-primary-outlined-border-color: $__petals--current !default;
$petals--button-primary-outlined-hover-color: var($__petals--button-primary-hover-color, $petals--button-primary-hover-color) !default;
$petals--button-primary-outlined-hover-border-color: $__petals--current !default;
$petals--button-primary-outlined-focus-color: var($__petals--button-primary-focus-color, $petals--button-primary-focus-color) !default;
$petals--button-primary-outlined-focus-border-color: $__petals--current !default;
