$petals--button-padding-y-lg: var($__petals--form-control-padding-y-lg, $petals--form-control-padding-y-lg) !default;
$petals--button-padding-x-lg: var($__petals--form-control-padding-x-lg, $petals--form-control-padding-x-lg) !default;
$petals--button-font-size-lg: var($__petals--form-control-font-size-lg, $petals--form-control-font-size-lg) !default;
$petals--button-border-radius-lg: var(
  $__petals--form-control-border-radius-lg,
  $petals--form-control-border-radius-lg
) !default;

$petals--button-padding-y-sm: var($__petals--form-control-padding-y-sm, $petals--form-control-padding-y-sm) !default;
$petals--button-padding-x-sm: var($__petals--form-control-padding-x-sm, $petals--form-control-padding-x-sm) !default;
$petals--button-font-size-sm: var($__petals--form-control-font-size-sm, $petals--form-control-font-size-sm) !default;
$petals--button-border-radius-sm: var(
  $__petals--form-control-border-radius-sm,
  $petals--form-control-border-radius-sm
) !default;
