.HDividedBox,
.VDividedBox {
  display: flex;
}

.HDividedBox {
  flex-direction: row;
  align-items: flex-start;

  .BoxContent {
    &.is-horizontalCenter,
    &.is-horizontalRight {
      display: flex;
    }

    &.is-horizontalCenter {
      justify-content: center;
    }

    &.is-horizontalRight {
      justify-content: flex-end;
    }

    &.is-verticalMiddle {
      align-self: center;
    }

    &.is-verticalBottom {
      align-self: flex-end;
    }
  }
}

.VDividedBox {
  flex-direction: column;

  .BoxContent {
    &.is-horizontalCenter {
      align-self: center;
    }

    &.is-horizontalRight {
      align-self: flex-end;
    }

    &.is-verticalMiddle,
    &.is-verticalBottom {
      display: flex;
    }

    &.is-verticalMiddle {
      align-items: center;
    }

    &.is-verticalBottom {
      align-items: flex-end;
    }
  }
}
