$__petals--radio-border-width: --petals-radio-border-width;
$__petals--radio-border-color: --petals-radio-border-color;
$__petals--radio-border-radius: --petals-radio-border-radius;

$__petals--radio-hover-border-color: --petals-radio-hover-border-color;

$__petals--radio-checked-bg: --petals-radio-checked-bg;
$__petals--radio-checked-border-color: --petals-radio-checked-border-color;

$__petals--radio-disabled-bg: --petals-radio-disabled-bg;
$__petals--radio-disabled-border-color: --petals-radio-disabled-border-color;

$__petals--radio-icon-size: --petals-radio-icon-size;
$__petals--radio-icon-checked-color: --petals-radio-icon-checked-color;
$__petals--radio-icon-disabled-color: --petals-radio-icon-disabled-color;
