$__petals--default-border-color: --petals-default-border-color;
$__petals--default-color: --petals-default-color;
$__petals--default-bg: --petals-default-bg;
$__petals--default-bg-image: --petals-default-bg-image;

$__petals--default-hover-border-color: --petals-default-hover-border-color;
$__petals--default-hover-color: --petals-default-hover-color;
$__petals--default-hover-bg: --petals-default-hover-bg;
$__petals--default-hover-bg-image: --petals-default-hover-bg-image;

$__petals--default-active-border-color: --petals-default-active-border-color;
$__petals--default-active-color: --petals-default-active-color;
$__petals--default-active-bg: --petals-default-active-bg;
$__petals--default-active-bg-image: --petals-default-active-bg-image;

$__petals--default-disabled-border-color: --petals-default-disabled-border-color;
$__petals--default-disabled-color: --petals-default-disabled-color;
$__petals--default-disabled-bg: --petals-default-disabled-bg;
$__petals--default-disabled-bg-image: --petals-default-disabled-bg-image;
$__petals--default-disabled-opacity: --petals-default-disabled-opacity;

$__petals--primary-border-color: --petals-primary-border-color;
$__petals--primary-color: --petals-primary-color;
$__petals--primary-bg: --petals-primary-bg;
$__petals--primary-bg-image: --petals-primary-bg-image;

$__petals--primary-hover-border-color: --petals-primary-hover-border-color;
$__petals--primary-hover-color: --petals-primary-hover-color;
$__petals--primary-hover-bg: --petals-primary-hover-bg;
$__petals--primary-hover-bg-image: --petals-primary-hover-bg-image;

$__petals--primary-active-border-color: --petals-primary-active-border-color;
$__petals--primary-active-color: --petals-primary-active-color;
$__petals--primary-active-bg: --petals-primary-active-bg;
$__petals--primary-active-bg-image: --petals-primary-active-bg-image;

$__petals--primary-disabled-border-color: --petals-primary-disabled-border-color;
$__petals--primary-disabled-color: --petals-primary-disabled-color;
$__petals--primary-disabled-bg: --petals-primary-disabled-bg;
$__petals--primary-disabled-bg-image: --petals-primary-disabled-bg-image;
$__petals--primary-disabled-opacity: --petals-primary-disabled-opacity;

$__petals--info-border-color: --petals-info-border-color;
$__petals--info-color: --petals-info-color;
$__petals--info-bg: --petals-info-bg;
$__petals--info-bg-image: --petals-info-bg-image;

$__petals--info-hover-border-color: --petals-info-hover-border-color;
$__petals--info-hover-color: --petals-info-hover-color;
$__petals--info-hover-bg: --petals-info-hover-bg;
$__petals--info-hover-bg-image: --petals-info-hover-bg-image;

$__petals--info-active-border-color: --petals-info-active-border-color;
$__petals--info-active-color: --petals-info-active-color;
$__petals--info-active-bg: --petals-info-active-bg;
$__petals--info-active-bg-image: --petals-info-active-bg-image;

$__petals--info-disabled-border-color: --petals-info-disabled-border-color;
$__petals--info-disabled-color: --petals-info-disabled-color;
$__petals--info-disabled-bg: --petals-info-disabled-bg;
$__petals--info-disabled-bg-image: --petals-info-disabled-bg-image;
$__petals--info-disabled-opacity: --petals-info-disabled-opacity;

$__petals--success-border-color: --petals-success-border-color;
$__petals--success-color: --petals-success-color;
$__petals--success-bg: --petals-success-bg;
$__petals--success-bg-image: --petals-success-bg-image;

$__petals--success-hover-border-color: --petals-success-hover-border-color;
$__petals--success-hover-color: --petals-success-hover-color;
$__petals--success-hover-bg: --petals-success-hover-bg;
$__petals--success-hover-bg-image: --petals-success-hover-bg-image;

$__petals--success-active-border-color: --petals-success-active-border-color;
$__petals--success-active-color: --petals-success-active-color;
$__petals--success-active-bg: --petals-success-active-bg;
$__petals--success-active-bg-image: --petals-success-active-bg-image;

$__petals--success-disabled-border-color: --petals-success-disabled-border-color;
$__petals--success-disabled-color: --petals-success-disabled-color;
$__petals--success-disabled-bg: --petals-success-disabled-bg;
$__petals--success-disabled-bg-image: --petals-success-disabled-bg-image;
$__petals--success-disabled-opacity: --petals-success-disabled-opacity;

$__petals--warning-border-color: --petals-warning-border-color;
$__petals--warning-color: --petals-warning-color;
$__petals--warning-bg: --petals-warning-bg;
$__petals--warning-bg-image: --petals-warning-bg-image;

$__petals--warning-hover-border-color: --petals-warning-hover-border-color;
$__petals--warning-hover-color: --petals-warning-hover-color;
$__petals--warning-hover-bg: --petals-warning-hover-bg;
$__petals--warning-hover-bg-image: --petals-warning-hover-bg-image;

$__petals--warning-active-border-color: --petals-warning-active-border-color;
$__petals--warning-active-color: --petals-warning-active-color;
$__petals--warning-active-bg: --petals-warning-active-bg;
$__petals--warning-active-bg-image: --petals-warning-active-bg-image;

$__petals--warning-disabled-border-color: --petals-warning-disabled-border-color;
$__petals--warning-disabled-color: --petals-warning-disabled-color;
$__petals--warning-disabled-bg: --petals-warning-disabled-bg;
$__petals--warning-disabled-bg-image: --petals-warning-disabled-bg-image;
$__petals--warning-disabled-opacity: --petals-warning-disabled-opacity;

$__petals--danger-border-color: --petals-danger-border-color;
$__petals--danger-color: --petals-danger-color;
$__petals--danger-bg: --petals-danger-bg;
$__petals--danger-bg-image: --petals-danger-bg-image;

$__petals--danger-hover-border-color: --petals-danger-hover-border-color;
$__petals--danger-hover-color: --petals-danger-hover-color;
$__petals--danger-hover-bg: --petals-danger-hover-bg;
$__petals--danger-hover-bg-image: --petals-danger-hover-bg-image;

$__petals--danger-active-border-color: --petals-danger-active-border-color;
$__petals--danger-active-color: --petals-danger-active-color;
$__petals--danger-active-bg: --petals-danger-active-bg;
$__petals--danger-active-bg-image: --petals-danger-active-bg-image;

$__petals--danger-disabled-border-color: --petals-danger-disabled-border-color;
$__petals--danger-disabled-color: --petals-danger-disabled-color;
$__petals--danger-disabled-bg: --petals-danger-disabled-bg;
$__petals--danger-disabled-bg-image: --petals-danger-disabled-bg-image;
$__petals--danger-disabled-opacity: --petals-danger-disabled-opacity;
