@import "../../border/style/variables";
@import "../../state/style/variables";
@import "./properties";

$petals--default-border-color: var($__petals--border-color, $petals--border-color) !default;
$petals--default-color: var($__petals--text-regular, $petals--text-regular) !default;
$petals--default-bg: $__petals--white !default;
$petals--default-bg-image: none !default;

$petals--default-hover-border-color: var($__petals--primary-hover, $petals--primary-hover) !default;
$petals--default-hover-color: var($__petals--primary-hover, $petals--primary-hover) !default;
$petals--default-hover-bg: var($__petals--default-bg, $petals--default-bg) !default;
$petals--default-hover-bg-image: var($__petals--default-bg-image, $petals--default-bg-image) !default;

$petals--default-active-border-color: var($__petals--primary-active, $petals--primary-active) !default;
$petals--default-active-color: var($__petals--primary-active, $petals--primary-active) !default;
$petals--default-active-bg: var($__petals--default-bg, $petals--default-bg) !default;
$petals--default-active-bg-image: var($__petals--default-bg-image, $petals--default-bg-image) !default;

$petals--default-disabled-border-color: var($__petals--default-border-color, $petals--default-border-color) !default;
$petals--default-disabled-color: var($__petals--default-color, $petals--default-color) !default;
$petals--default-disabled-bg: var($__petals--default-bg, $petals--default-bg) !default;
$petals--default-disabled-bg-image: var($__petals--default-bg-image, $petals--default-bg-image) !default;
$petals--default-disabled-opacity: var($__petals--disabled-opacity, $petals--disabled-opacity) !default;

$petals--primary-border-color: var($__petals--primary, $petals--primary) !default;
$petals--primary-color: $__petals--white !default;
$petals--primary-bg: var($__petals--primary, $petals--primary) !default;
$petals--primary-bg-image: none !default;

$petals--primary-hover-border-color: var($__petals--primary-hover, $petals--primary-hover) !default;
$petals--primary-hover-color: $__petals--white !default;
$petals--primary-hover-bg: var($__petals--primary-hover, $petals--primary-hover) !default;
$petals--primary-hover-bg-image: var($__petals--primary-bg-image, $petals--primary-bg-image) !default;

$petals--primary-active-border-color: var($__petals--primary-active, $petals--primary-active) !default;
$petals--primary-active-color: $__petals--white !default;
$petals--primary-active-bg: var($__petals--primary-active, $petals--primary-active) !default;
$petals--primary-active-bg-image: var($__petals--primary-bg-image, $petals--primary-bg-image) !default;

$petals--primary-disabled-border-color: var($__petals--default-disabled-border-color, $petals--default-disabled-border-color) !default;
$petals--primary-disabled-color: var($__petals--default-disabled-color, $petals--default-disabled-color) !default;
$petals--primary-disabled-bg: var($__petals--default-disabled-bg, $petals--default-disabled-bg) !default;
$petals--primary-disabled-bg-image: var($__petals--default-disabled-bg-image, $petals--default-disabled-bg-image) !default;
$petals--primary-disabled-opacity: var($__petals--disabled-opacity, $petals--disabled-opacity) !default;

$petals--info-border-color: var($__petals--info, $petals--info) !default;
$petals--info-color: $__petals--white !default;
$petals--info-bg: var($__petals--info, $petals--info) !default;
$petals--info-bg-image: none !default;

$petals--info-hover-border-color: var($__petals--info-hover, $petals--info-hover) !default;
$petals--info-hover-color: $__petals--white !default;
$petals--info-hover-bg: var($__petals--info-hover, $petals--info-hover) !default;
$petals--info-hover-bg-image: var($__petals--info-bg-image, $petals--info-bg-image) !default;

$petals--info-active-border-color: var($__petals--info-active, $petals--info-active) !default;
$petals--info-active-color: $__petals--white !default;
$petals--info-active-bg: var($__petals--info-active, $petals--info-active) !default;
$petals--info-active-bg-image: var($__petals--info-bg-image, $petals--info-bg-image) !default;

$petals--info-disabled-border-color: var($__petals--default-disabled-border-color, $petals--default-disabled-border-color) !default;
$petals--info-disabled-color: var($__petals--default-disabled-color, $petals--default-disabled-color) !default;
$petals--info-disabled-bg: var($__petals--default-disabled-bg, $petals--default-disabled-bg) !default;
$petals--info-disabled-bg-image: var($__petals--default-disabled-bg-image, $petals--default-disabled-bg-image) !default;
$petals--info-disabled-opacity: var($__petals--disabled-opacity, $petals--disabled-opacity) !default;

$petals--success-border-color: var($__petals--success, $petals--success) !default;
$petals--success-color: $__petals--white !default;
$petals--success-bg: var($__petals--success, $petals--success) !default;
$petals--success-bg-image: none !default;

$petals--success-hover-border-color: var($__petals--success-hover, $petals--success-hover) !default;
$petals--success-hover-color: $__petals--white !default;
$petals--success-hover-bg: var($__petals--success-hover, $petals--success-hover) !default;
$petals--success-hover-bg-image: var($__petals--success-bg-image, $petals--success-bg-image) !default;

$petals--success-active-border-color: var($__petals--success-active, $petals--success-active) !default;
$petals--success-active-color: $__petals--white !default;
$petals--success-active-bg: var($__petals--success-active, $petals--success-active) !default;
$petals--success-active-bg-image: var($__petals--success-bg-image, $petals--success-bg-image) !default;

$petals--success-disabled-border-color: var($__petals--default-disabled-border-color, $petals--default-disabled-border-color) !default;
$petals--success-disabled-color: var($__petals--default-disabled-color, $petals--default-disabled-color) !default;
$petals--success-disabled-bg: var($__petals--default-disabled-bg, $petals--default-disabled-bg) !default;
$petals--success-disabled-bg-image: var($__petals--default-disabled-bg-image, $petals--default-disabled-bg-image) !default;
$petals--success-disabled-opacity: var($__petals--disabled-opacity, $petals--disabled-opacity) !default;

$petals--warning-border-color: var($__petals--warning, $petals--warning) !default;
$petals--warning-color: $__petals--white !default;
$petals--warning-bg: var($__petals--warning, $petals--warning) !default;
$petals--warning-bg-image: none !default;

$petals--warning-hover-border-color: var($__petals--warning-hover, $petals--warning-hover) !default;
$petals--warning-hover-color: $__petals--white !default;
$petals--warning-hover-bg: var($__petals--warning-hover, $petals--warning-hover) !default;
$petals--warning-hover-bg-image: var($__petals--warning-bg-image, $petals--warning-bg-image) !default;

$petals--warning-active-border-color: var($__petals--warning-active, $petals--warning-active) !default;
$petals--warning-active-color: $__petals--white !default;
$petals--warning-active-bg: var($__petals--warning-active, $petals--warning-active) !default;
$petals--warning-active-bg-image: var($__petals--warning-bg-image, $petals--warning-bg-image) !default;

$petals--warning-disabled-border-color: var($__petals--default-disabled-border-color, $petals--default-disabled-border-color) !default;
$petals--warning-disabled-color: var($__petals--default-disabled-color, $petals--default-disabled-color) !default;
$petals--warning-disabled-bg: var($__petals--default-disabled-bg, $petals--default-disabled-bg) !default;
$petals--warning-disabled-bg-image: var($__petals--default-disabled-bg-image, $petals--default-disabled-bg-image) !default;
$petals--warning-disabled-opacity: var($__petals--disabled-opacity, $petals--disabled-opacity) !default;

$petals--danger-border-color: var($__petals--danger, $petals--danger) !default;
$petals--danger-color: $__petals--white !default;
$petals--danger-bg: var($__petals--danger, $petals--danger) !default;
$petals--danger-bg-image: none !default;

$petals--danger-hover-border-color: var($__petals--danger-hover, $petals--danger-hover) !default;
$petals--danger-hover-color: $__petals--white !default;
$petals--danger-hover-bg: var($__petals--danger-hover, $petals--danger-hover) !default;
$petals--danger-hover-bg-image: var($__petals--danger-bg-image, $petals--danger-bg-image) !default;

$petals--danger-active-border-color: var($__petals--danger-active, $petals--danger-active) !default;
$petals--danger-active-color: $__petals--white !default;
$petals--danger-active-bg: var($__petals--danger-active, $petals--danger-active) !default;
$petals--danger-active-bg-image: var($__petals--danger-bg-image, $petals--danger-bg-image) !default;

$petals--danger-disabled-border-color: var($__petals--default-disabled-border-color, $petals--default-disabled-border-color) !default;
$petals--danger-disabled-color: var($__petals--default-disabled-color, $petals--default-disabled-color) !default;
$petals--danger-disabled-bg: var($__petals--default-disabled-bg, $petals--default-disabled-bg) !default;
$petals--danger-disabled-bg-image: var($__petals--default-disabled-bg-image, $petals--default-disabled-bg-image) !default;
$petals--danger-disabled-opacity: var($__petals--disabled-opacity, $petals--disabled-opacity) !default;
