$__petals--message-color: --petals-message-color;
$__petals--message-bg: --petals-message-bg;
$__petals--message-border-width: --petals-message-border-width;
$__petals--message-border-color: --petals-message-border-color;
$__petals--message-border-radius: --petals-message-border-radius;
$__petals--message-box-shadow: --petals-message-box-shadow;

$__petals--message-info-bg: --petals-message-info-bg;
$__petals--message-info-border-color: --petals-message-info-border-color;
$__petals--message-info-color: --petals-message-info-color;

$__petals--message-success-bg: --petals-message-success-bg;
$__petals--message-success-border-color: --petals-message-success-border-color;
$__petals--message-success-color: --petals-message-success-color;

$__petals--message-warning-bg: --petals-message-warning-bg;
$__petals--message-warning-border-color: --petals-message-warning-border-color;
$__petals--message-warning-color: --petals-message-warning-color;

$__petals--message-danger-bg: --petals-message-danger-bg;
$__petals--message-danger-border-color: --petals-message-danger-border-color;
$__petals--message-danger-color: --petals-message-danger-color;

$__petals--message-icon-info-color: --petals-message-icon-info-color;
$__petals--message-icon-success-color: --petals-message-icon-success-color;
$__petals--message-icon-warning-color: --petals-message-icon-warning-color;
$__petals--message-icon-danger-color: --petals-message-icon-danger-color;
