@import '../../border/style/variables';

@import './properties';

$petals--message-color: var($__petals--text-regular, $petals--text-regular) !default;
$petals--message-bg: $__petals--white !default;
$petals--message-border-width: var($__petals--border-width, $petals--border-width) !default;
$petals--message-border-color: transparent !default;
$petals--message-border-radius: var($__petals--border-radius, $petals--border-radius) !default;
$petals--message-box-shadow: none !default;

$petals--message-info-border-color: var($__petals--message-border-color, $petals--message-border-color) !default;
$petals--message-info-color: $petals--info !default;
$petals--message-info-bg: var($__petals--message-bg, $petals--message-bg) !default;

$petals--message-success-border-color: var($__petals--message-border-color, $petals--message-border-color) !default;
$petals--message-success-color: var($__petals--message-color, $petals--message-color) !default;
$petals--message-success-bg: var($__petals--message-bg, $petals--message-bg) !default;

$petals--message-warning-border-color: var($__petals--message-border-color, $petals--message-border-color) !default;
$petals--message-warning-color: var($__petals--message-color, $petals--message-color) !default;
$petals--message-warning-bg: var($__petals--message-bg, $petals--message-bg) !default;

$petals--message-danger-border-color: var($__petals--message-border-color, $petals--message-border-color) !default;
$petals--message-danger-color: var($__petals--message-color, $petals--message-color) !default;
$petals--message-danger-bg: var($__petals--message-bg, $petals--message-bg) !default;

$petals--message-icon-info-color: var($__petals--info, $petals--info) !default;
$petals--message-icon-success-color: var($__petals--success, $petals--success) !default;
$petals--message-icon-warning-color: var($__petals--warning, $petals--warning) !default;
$petals--message-icon-danger-color: var($__petals--danger, $petals--danger) !default;
