@import './properties';

$petals--font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, 'Pingfang SC', 'Microsoft Yahei', Sans-serif !default;
$petals--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$petals--font-family: $petals--font-family-sans-serif !default;

// $petals--font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $petals--font-size effects the font size of the body text
$petals--font-size-root: null !default;
$petals--font-size: 14px !default;
$petals--font-size-lg: 16px !default;
$petals--font-size-sm: 12px !default;

$petals--font-weight-lighter: lighter !default;
$petals--font-weight-light: 300 !default;
$petals--font-weight-normal: 400 !default;
$petals--font-weight-bold: 700 !default;
$petals--font-weight-bolder: bolder !default;

$petals--font-weight: $petals--font-weight-normal !default;

$petals--line-height: 1.5 !default;
$petals--line-height-lg: 2 !default;
$petals--line-height-sm: 1.25 !default;
