$__petals--select-font-size: --petals-select-font-size;

$__petals--select-option-height: --petals-select-option-height;
$__petals--select-option-padding-y: --petals-select-option-padding-y;
$__petals--select-option-padding-x: --petals-select-option-padding-x;
$__petals--select-option-color: --petals-select-option-color;
$__petals--select-option-hover-bg: --petals-select-option-hover-bg;

$__petals--select-dropdown-padding-y: --petals-select-dropdown-padding-y;
$__petals--select-dropdown-border-radius: --petals-select-dropdown-border-radius;
$__petals--select-dropdown-box-shadow: --petals-select-dropdown-box-shadow;
