@include component-rules($petals--data-table-component-name) {
  $pagination-height: 68px;

  display: flex;
  flex-direction: column;
  height: 100%;

  &-tableWrapper {
    flex-grow: 1;
  }

  &-table {
    width: 100%;
  }

  &-pagination {
    flex-shrink: 0;
    flex-basis: $pagination-height;
    height: $pagination-height;
    padding: 19px 20px 0;
  }
}
