$__petals--tabs-box-shadow: --petals-tabs-box-shadow;

$__petals--tabs-panes-border-width: --petals-tabs-panes-border-width;
$__petals--tabs-panes-border-color: --petals-tabs-panes-border-color;
$__petals--tabs-panes-border-radius: --petals-tabs-panes-border-radius;
$__petals--tabs-panes-bg: --petals-tabs-panes-bg;
