$__petals--card-padding-y: --petals-card-padding-y;
$__petals--card-padding-x: --petals-card-padding-x;
$__petals--card-bg: --petals-card-bg;
$__petals--card-border-width: --petals-card-border-width;
$__petals--card-border-color: --petals-card-border-color;
$__petals--card-border-radius: --petals-card-border-radius;
$__petals--card-box-shadow: --petals-card-box-shadow;

$__petals--card-header-height: --petals-card-header-height;
$__petals--card-header-padding-y: --petals-card-header-padding-y;
$__petals--card-header-padding-x: --petals-card-header-padding-x;
$__petals--card-header-border-width: --petals-card-header-border-width;
$__petals--card-header-border-color: --petals-card-header-border-color;
$__petals--card-header-font-size: --petals-card-header-font-size;
$__petals--card-header-font-weight: --petals-card-header-font-weight;
$__petals--card-header-letter-spacing: --petals-card-header-letter-spacing;
$__petals--card-header-color: --petals-card-header-color;

$__petals--card-body-padding-y: --petals-card-body-padding-y;
$__petals--card-body-padding-x: --petals-card-body-padding-x;

$__petals--card-footer-padding-y: --petals-card-footer-padding-y;
$__petals--card-footer-padding-x: --petals-card-footer-padding-x;
$__petals--card-footer-border-width: --petals-card-footer-border-width;
$__petals--card-footer-border-color: --petals-card-footer-border-color;
