$__petals--typography-primary: --petals-typography-primary;
$__petals--typography-success: --petals-typography-success;
$__petals--typography-warning: --petals-typography-warning;
$__petals--typography-danger: --petals-typography-danger;
$__petals--typography-info: --petals-typography-info;

$__petals--typography-secondary: --petals-typography-secondary;
