@import './properties';

$petals--typography-primary: var($__petals--primary, $petals--primary);
$petals--typography-success: var($__petals--success, $petals--success);
$petals--typography-warning: var($__petals--warning, $petals--warning);
$petals--typography-danger: var($__petals--danger, $petals--danger);
$petals--typography-info: var($__petals--info, $petals--info);

$petals--typography-secondary: var($__petals--text-secondary, $petals--text-secondary);
