$__petals--box-shadow: ---petals-box-shadow;
$__petals--box-shadow-lg: ---petals-box-shadow-lg;
$__petals--box-shadow-sm: ---petals-box-shadow-sm;
$__petals--box-shadow-inset: ---petals-box-shadow-inset;
