@include component-rules($petals--feed-component-name) {
  display: flex;

  &-aside {
    padding-right: 12px;
  }

  &-avatar {
    display: block;
  }

  &-content {
    flex-grow: 1;
  }

  &-header {
    font-size: 14px;
    font-weight: bold;
  }

  &-body {
    padding-top: 8px;
    font-size: 12px;
  }
}
