$__petals--switch-height: --petals-switch-height;
$__petals--switch-font-size: --petals-switch-font-size;
$__petals--switch-bg: --petals-switch-bg;

$__petals--switch-checked-bg: --petals-switch-checked-bg;
