@include component-rules($petals--icon-component-name) {
  display: inline-block;
  vertical-align: baseline;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 0;
  color: inherit;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: none;

  &-content {
    display: inline-block;
    line-height: 1;
  }

  &--svg &-content {
    vertical-align: -0.125em; // for SVG icon, see https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4
    width: 1em;
    height: 1em;
    fill: $__petals--current;
  }
}
