$__petals--panel-padding-y: --petals-panel-padding-y;
$__petals--panel-padding-x: --petals-panel-padding-x;
$__petals--panel-bg: --petals-panel-bg;
$__petals--panel-border-width: --petals-panel-border-width;
$__petals--panel-border-color: --petals-panel-border-color;
$__petals--panel-border-radius: --petals-panel-border-radius;
$__petals--panel-box-shadow: --petals-panel-box-shadow;

$__petals--panel-header-height: --petals-panel-header-height;
$__petals--panel-header-border-width: --petals-panel-header-border-width;
$__petals--panel-header-border-color: --petals-panel-header-border-color;
$__petals--panel-header-font-size: --petals-panel-header-font-size;
$__petals--panel-header-font-weight: --petals-panel-header-font-weight;
$__petals--panel-header-letter-spacing: --petals-panel-header-letter-spacing;
$__petals--panel-header-color: --petals-panel-header-color;

$__petals--panel-body-padding-y: --petals-panel-body-padding-y;
$__petals--panel-body-padding-x: --petals-panel-body-padding-x;
