@import "../../border/style/variables";
@import "./metadata";
@import "./properties";

$petals--panel-padding-y: 0 !default;
$petals--panel-padding-x: 16px !default;
$petals--panel-bg: $__petals--white !default;
$petals--panel-border-width: var($__petals--border-width, $petals--border-width) !default;
$petals--panel-border-color: var($__petals--border-color, $petals--border-color) !default;
$petals--panel-border-radius: var($__petals--border-radius-lg, $petals--border-radius-lg) !default;
$petals--panel-box-shadow: none !default;

$petals--panel-header-height: 61px !default;
$petals--panel-header-border-width: var($__petals--border-width, $petals--border-width) !default;
$petals--panel-header-border-color: var($__petals--panel-border-color, $petals--panel-border-color) !default;
$petals--panel-header-font-size: 18px !default;
$petals--panel-header-font-weight: bold !default;
$petals--panel-header-letter-spacing: 0 !default;
$petals--panel-header-color: var($__petals--text-heading, $petals--text-heading) !default;

$petals--panel-body-padding-y: 24px !default;
$petals--panel-body-padding-x: 0 !default;
