$__petals--pagination-page-number-size: --petals-pagination-page-number-size;

$__petals--pagination-bg: --petals-pagination-bg;
$__petals--pagination-bg-image: --petals-pagination-bg-image;
$__petals--pagination-border-width: --petals-pagination-border-width;
$__petals--pagination-border-color: --petals-pagination-border-color;
$__petals--pagination-border-radius: --petals-pagination-border-radius;

$__petals--pagination-changer-input-bg-image: --petals-pagination-changer-input-bg-image;
$__petals--pagination-jumper-input-width: --petals-pagination-jumper-input-width;

$__petals--pagination-active-bg: --petals-pagination-active-bg;
$__petals--pagination-active-bg-image: --petals-pagination-active-bg-image;
$__petals--pagination-active-border-color: --petals-pagination-active-border-color;
