$__petals--layout-container-bg: --petals-layout-container-bg;

$__petals--layout-main-margin: --petals-layout-main-margin;
$__petals--layout-main-padding: --petals-layout-main-padding;
$__petals--layout-main-bg: --petals-layout-main-bg;

$__petals--layout-aside-width: --petals-layout-aside-width;
$__petals--layout-aside-font-size: --petals-layout-aside-font-size;
$__petals--layout-aside-font-weight: --petals-layout-aside-font-weight;
$__petals--layout-aside-color: --petals-layout-aside-color;
$__petals--layout-aside-bg: --petals-layout-aside-bg;
$__petals--layout-aside-border-width: --petals-layout-aside-border-width;
$__petals--layout-aside-border-color: --petals-layout-aside-border-color;

$__petals--layout-header-height: --petals-layout-header-height;
$__petals--layout-header-padding-y: --petals-layout-header-padding-y;
$__petals--layout-header-padding-x: --petals-layout-header-padding-x;
$__petals--layout-header-font-size: --petals-layout-header-font-size;
$__petals--layout-header-color: --petals-layout-header-color;
$__petals--layout-header-bg: --petals-layout-header-bg;
$__petals--layout-header-box-shadow: --petals-layout-header-box-shadow;

$__petals--layout-footer-height: --petals-layout-footer-height;
$__petals--layout-footer-padding-y: --petals-layout-footer-padding-y;
$__petals--layout-footer-padding-x: --petals-layout-footer-padding-x;
$__petals--layout-footer-font-size: --petals-layout-footer-font-size;
$__petals--layout-footer-color: --petals-layout-footer-color;
$__petals--layout-footer-bg: --petals-layout-footer-bg;
$__petals--layout-footer-box-shadow: --petals-layout-footer-box-shadow;
