$__petals--button-min-width: --petals-button-min-width;
$__petals--button-max-width: --petals-button-max-width;
$__petals--button-between-gap: --petals-button-between-gap;
$__petals--button-font-size: --petals-button-font-size;
$__petals--button-font-size-lg: --petals-button-font-size-lg;
$__petals--button-font-size-sm: --petals-button-font-size-sm;
$__petals--button-line-height: --petals-button-line-height;
$__petals--button-box-shadow: --petals-button-box-shadow;

$__petals--button-padding-y: --petals-button-padding-y;
$__petals--button-padding-x: --petals-button-padding-x;
$__petals--button-padding-y-lg: --petals-button-padding-y-lg;
$__petals--button-padding-x-lg: --petals-button-padding-x-lg;
$__petals--button-padding-y-sm: --petals-button-padding-y-sm;
$__petals--button-padding-x-sm: --petals-button-padding-x-sm;

$__petals--button-border-width: --petals-button-border-width;
$__petals--button-border-radius: --petals-button-border-radius;
$__petals--button-border-radius-lg: --petals-button-border-radius-lg;
$__petals--button-border-radius-sm: --petals-button-border-radius-sm;

$__petals--button-border-color: --petals-button-border-color;
$__petals--button-color: --petals-button-color;
$__petals--button-bg: --petals-button-bg;
$__petals--button-bg-image: --petals-button-bg-image;

$__petals--button-hover-border-color: --petals-button-hover-border-color;
$__petals--button-hover-color: --petals-button-hover-color;
$__petals--button-hover-bg: --petals-button-hover-bg;
$__petals--button-hover-bg-image: --petals-button-hover-bg-image;

$__petals--button-focus-border-color: --petals-button-focus-border-color;
$__petals--button-focus-color: --petals-button-focus-color;
$__petals--button-focus-bg: --petals-button-focus-bg;
$__petals--button-focus-bg-image: --petals-button-focus-bg-image;
$__petals--button-focus-box-shadow: --petals-button-focus-box-shadow;

$__petals--button-disabled-border-color: --petals-button-disabled-border-color;
$__petals--button-disabled-color: --petals-button-disabled-color;
$__petals--button-disabled-bg: --petals-button-disabled-bg;
$__petals--button-disabled-bg-image: --petals-button-disabled-bg-image;
$__petals--button-disabled-opacity: --petals-button-disabled-opacity;

$__petals--button-outlined-border-color: --petals-button-outlined-border-color;
$__petals--button-outlined-color: --petals-button-outlined-color;

$__petals--button-borderless-hover-color: --petals-button-borderless-hover-color;
$__petals--button-borderless-hover-bg: --petals-button-borderless-hover-bg;
$__petals--button-borderless-focus-color: --petals-button-borderless-focus-color;
$__petals--button-borderless-focus-bg: --petals-button-borderless-focus-bg;
$__petals--button-borderless-disabled-color: --petals-button-borderless-disabled-color;
$__petals--button-borderless-disabled-bg: --petals-button-borderless-disabled-bg;

// Primary button

$__petals--button-primary-border-color: --petals-button-primary-border-color;
$__petals--button-primary-color: --petals-button-primary-color;
$__petals--button-primary-bg: --petals-button-primary-bg;
$__petals--button-primary-bg-image: --petals-button-primary-bg-image;
$__petals--button-primary-box-shadow: --petals-button-primary-box-shadow;
$__petals--button-primary-light: --petals-button-primary-light;
$__petals--button-primary-dark: --petals-button-primary-dark;
$__petals--button-primary-hover-border-color: --petals-button-primary-hover-border-color;
$__petals--button-primary-hover-color: --petals-button-primary-hover-color;
$__petals--button-primary-hover-bg: --petals-button-primary-hover-bg;
$__petals--button-primary-hover-bg-image: --petals-button-primary-hover-bg-image;
$__petals--button-primary-focus-border-color: --petals-button-primary-focus-border-color;
$__petals--button-primary-focus-color: --petals-button-primary-focus-color;
$__petals--button-primary-focus-bg: --petals-button-primary-focus-bg;
$__petals--button-primary-focus-bg-image: --petals-button-primary-focus-bg-image;
$__petals--button-primary-disabled-border-color: --petals-button-primary-disabled-border-color;
$__petals--button-primary-disabled-color: --petals-button-primary-disabled-color;
$__petals--button-primary-disabled-bg: --petals-button-primary-disabled-bg;
$__petals--button-primary-disabled-bg-image: --petals-button-primary-disabled-bg-image;
$__petals--button-primary-disabled-opacity: --petals-button-primary-disabled-opacity;
$__petals--button-primary-outlined-border-color: --petals-button-primary-outlined-border-color;
$__petals--button-primary-outlined-color: --petals-button-primary-outlined-color;
$__petals--button-primary-outlined-hover-border-color: --petals-button-primary-outlined-hover-border-color;
$__petals--button-primary-outlined-hover-color: --petals-button-primary-outlined-hover-color;
$__petals--button-primary-outlined-focus-border-color: --petals-button-primary-outlined-focus-border-color;
$__petals--button-primary-outlined-focus-color: --petals-button-primary-outlined-focus-color;

// Danger button

$__petals--button-danger-border-color: --petals-button-danger-border-color;
$__petals--button-danger-color: --petals-button-danger-color;
$__petals--button-danger-bg: --petals-button-danger-bg;
$__petals--button-danger-bg-image: --petals-button-danger-bg-image;
$__petals--button-danger-box-shadow: --petals-button-danger-box-shadow;
$__petals--button-danger-light: --petals-button-danger-light;
$__petals--button-danger-dark: --petals-button-danger-dark;
$__petals--button-danger-hover-border-color: --petals-button-danger-hover-border-color;
$__petals--button-danger-hover-color: --petals-button-danger-hover-color;
$__petals--button-danger-hover-bg: --petals-button-danger-hover-bg;
$__petals--button-danger-hover-bg-image: --petals-button-danger-hover-bg-image;
$__petals--button-danger-focus-border-color: --petals-button-danger-focus-border-color;
$__petals--button-danger-focus-color: --petals-button-danger-focus-color;
$__petals--button-danger-focus-bg: --petals-button-danger-focus-bg;
$__petals--button-danger-focus-bg-image: --petals-button-danger-focus-bg-image;
$__petals--button-danger-disabled-border-color: --petals-button-danger-disabled-border-color;
$__petals--button-danger-disabled-color: --petals-button-danger-disabled-color;
$__petals--button-danger-disabled-bg: --petals-button-danger-disabled-bg;
$__petals--button-danger-disabled-bg-image: --petals-button-danger-disabled-bg-image;
$__petals--button-danger-disabled-opacity: --petals-button-danger-disabled-opacity;
$__petals--button-danger-outlined-border-color: --petals-button-danger-outlined-border-color;
$__petals--button-danger-outlined-color: --petals-button-danger-outlined-color;
$__petals--button-danger-outlined-hover-border-color: --petals-button-danger-outlined-hover-border-color;
$__petals--button-danger-outlined-hover-color: --petals-button-danger-outlined-hover-color;
$__petals--button-danger-outlined-focus-border-color: --petals-button-danger-outlined-focus-border-color;
$__petals--button-danger-outlined-focus-color: --petals-button-danger-outlined-focus-color;
