$__petals--table-font-size: --petals-table-font-size;
$__petals--table-color: --petals-table-color;

$__petals--table-cell-padding-y: --petals-table-cell-padding-y;

$__petals--table-head-border-width: --petals-table-head-border-width;
$__petals--table-head-border-color: --petals-table-head-border-color;
$__petals--table-head-border-radius: --petals-table-head-border-radius;
$__petals--table-head-color: --petals-table-head-color;
$__petals--table-head-bg: --petals-table-head-bg;
$__petals--table-head-padding-y: --petals-table-head-padding-y;

$__petals--table-hover-bg: --petals-table-hover-bg;
