$__petals--heading-level1-font-size: --petals-heading-level1-font-size;
$__petals--heading-level1-font-weight: --petals-heading-level1-font-weight;
$__petals--heading-level1-line-height: --petals-heading-level1-line-height;
$__petals--heading-level1-margin-top: --petals-heading-level1-margin-top;
$__petals--heading-level1-margin-bottom: --petals-heading-level1-margin-bottom;

$__petals--heading-level2-font-size: --petals-heading-level2-font-size;
$__petals--heading-level2-font-weight: --petals-heading-level2-font-weight;
$__petals--heading-level2-line-height: --petals-heading-level2-line-height;
$__petals--heading-level2-margin-top: --petals-heading-level2-margin-top;
$__petals--heading-level2-margin-bottom: --petals-heading-level2-margin-bottom;

$__petals--heading-level3-font-size: --petals-heading-level3-font-size;
$__petals--heading-level3-font-weight: --petals-heading-level3-font-weight;
$__petals--heading-level3-line-height: --petals-heading-level3-line-height;
$__petals--heading-level3-margin-top: --petals-heading-level3-margin-top;
$__petals--heading-level3-margin-bottom: --petals-heading-level3-margin-bottom;

$__petals--heading-level4-font-size: --petals-heading-level4-font-size;
$__petals--heading-level4-font-weight: --petals-heading-level4-font-weight;
$__petals--heading-level4-line-height: --petals-heading-level4-line-height;
$__petals--heading-level4-margin-top: --petals-heading-level4-margin-top;
$__petals--heading-level4-margin-bottom: --petals-heading-level4-margin-bottom;

$__petals--heading-level5-font-size: --petals-heading-level5-font-size;
$__petals--heading-level5-font-weight: --petals-heading-level5-font-weight;
$__petals--heading-level5-line-height: --petals-heading-level5-line-height;
$__petals--heading-level5-margin-top: --petals-heading-level5-margin-top;
$__petals--heading-level5-margin-bottom: --petals-heading-level5-margin-bottom;

$__petals--heading-level6-font-size: --petals-heading-level6-font-size;
$__petals--heading-level6-font-weight: --petals-heading-level6-font-weight;
$__petals--heading-level6-line-height: --petals-heading-level6-line-height;
$__petals--heading-level6-margin-top: --petals-heading-level6-margin-top;
$__petals--heading-level6-margin-bottom: --petals-heading-level6-margin-bottom;
