* {
  &:focus {
    outline: none;
  }

  // &::-webkit-scrollbar,
  // &::-webkit-scrollbar-thumb {
  //   border-radius: var($__petals--scrollbar-border-radius, $petals--scrollbar-border-radius);
  // }

  // &::-webkit-scrollbar {
  //   width: var($__petals--scrollbar-width, $petals--scrollbar-width);
  //   height: var($__petals--scrollbar-height, $petals--scrollbar-height);
  //   background-color: var($__petals--scrollbar-bg, $petals--scrollbar-bg);
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: var($__petals--scrollbar-thumb-bg, $petals--scrollbar-thumb-bg);
  // }
}

body {
  font-family: var($__petals--font-family, $petals--font-family);
  font-size: var($__petals--font-size, $petals--font-size);
  font-weight: var($__petals--font-weight, $petals--font-weight);
  line-height: var($__petals--line-height, $petals--line-height);
  color: var($__petals--body-color, $petals--body-color);
  background-color: var($__petals--body-bg, $petals--body-bg);

  @if $petals--optimize-legibility == true {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}

img {
  max-width: 100%;
}

button {
  &:focus {
    outline: none !important;
  }
}

label {
  cursor: pointer;
}
