@import "./metadata";
@import "./properties";

$petals--paragraph-font-size: var($__petals--font-size, $petals--font-size) !default;
$petals--paragraph-line-height: var($__petals--line-height, $petals--line-height) !default;
$petals--paragraph-between-gap: 0 !default;
