$__petals--font-family: --petals-font-family;

$__petals--font-size: --petals-font-size;
$__petals--font-size-lg: --petals-font-size-lg;
$__petals--font-size-sm: --petals-font-size-sm;

$__petals--font-weight: --petals-font-weight;
$__petals--font-weight-lighter: --petals-font-weight-lighter;
$__petals--font-weight-light: --petals-font-weight-light;
$__petals--font-weight-bold: --petals-font-weight-bold;
$__petals--font-weight-bolder: --petals-font-weight-bolder;

$__petals--line-height: --petals-line-height;
$__petals--line-height-lg: --petals-line-height-lg;
$__petals--line-height-sm: --petals-line-height-sm;
