$__petals--dialog-border-radius: --petals-dialog-border-radius;
$__petals--dialog-box-shadow: --petals-dialog-box-shadow;

$__petals--dialog-header-color: --petals-dialog-header-color;

$__petals--dialog-backdrop-bg: --petals-dialog-backdrop-bg;
$__petals--dialog-backdrop-opacity: --petals-dialog-backdrop-opacity;
