$cp--date-picker-disabled-bg: --petals-date-picker-disabled-bg;
$cp--date-picker-disabled-border-color: --petals-date-picker-disabled-border-color;

$cp--date-picker-panel-border-width: --petals-date-picker-panel-border-width;
$cp--date-picker-panel-border-color: --petals-date-picker-panel-border-color;
$cp--date-picker-panel-border-radius: --petals-date-picker-panel-border-radius;
$cp--date-picker-panel-box-shadow: --petals-date-picker-panel-box-shadow;

$cp--date-picker-date-current-font-weight: --petals-date-picker-date-current-font-weight;
$cp--date-picker-date-current-color: --petals-date-picker-date-current-color;
$cp--date-picker-date-current-dot-size: --petals-date-picker-date-current-dot-size;

$cp--date-picker-date-hover-color: --petals-date-picker-date-hover-color;

$cp--date-picker-date-active-color: --petals-date-picker-date-active-color;
$cp--date-picker-date-active-bg: --petals-date-picker-date-active-bg;

$cp--date-picker-range-bg: --petals-date-picker-range-bg;
$cp--date-picker-range-hover-bg: --petals-date-picker-range-hover-bg;
