@import './properties';

$petals--primary: #3882f5 !default;
$petals--primary-hover: $petals--primary !default;
$petals--primary-active: $petals--primary !default;

$petals--info: #909399 !default;
$petals--info-hover: $petals--info !default;
$petals--info-active: $petals--info !default;

$petals--success: #67c23a !default;
$petals--success-hover: $petals--success !default;
$petals--success-active: $petals--success !default;

$petals--warning: #e6a23c !default;
$petals--warning-hover: $petals--warning !default;
$petals--warning-active: $petals--warning !default;

$petals--danger: #f56c6c !default;
$petals--danger-hover: $petals--danger !default;
$petals--danger-active: $petals--danger !default;
