@import "./properties";

$petals--text-primary: #303133 !default;
$petals--text-secondary: #696c71 !default;
$petals--text-regular: #333 !default;
$petals--text-heading: #2c405a !default;
$petals--text-placeholder: #c0c4cc !default;
